* {
    margin:0rem;
    padding:0rem;
    border:0rem;

    background-origin: border-box;
    outline: none;
    box-shadow: none;

	font-family:"Nanum Gothic", sans-serif;
	text-decoration:none;
}


/*하드웨어 가속*/
[gpuaccel] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
[gpuaccel2] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
[gpuaccel3] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
/*스타일*/
    /*폰트 - 나눔고딕*/
    @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.color_red {
	color:red;
}
.color_yellow {
	color:yellow;
}
.color_orange {
	color:orange;
}
.color_green {
	color:green;
}
.color_blue {
    color:blue;
}
.color_skyblue {
    color:skyblue;
}
.color_gray {
    color:#bdbdbd;
}
.color_white {
    color:white;
}
.color_epic {
	color:#E5B64A;
	font-size:inherit;
}
.color_soul {
	color:#E5B64A;
	font-size:inherit;
}
.color_beed {
	color:#FF00FF;
	font-size:inherit;
}
.color_set {
	color:#59FF00;
}
.font_shadow {
    text-shadow:0rem -0.02rem black,0.02rem -0.02rem black,0.02rem 0rem black,0.02rem 0.02rem black,0rem 0.02rem black,-0.02rem 0.02rem black,-0.02rem 0rem black,-0.02rem -0.02rem black;
}
.align_left {
    text-align:left;
}
/*그림자 효과*/
#wrapper button:hover, #wrapper select:hover, #wrapper label:hover {
    outline:0.15rem white solid !important;
    cursor:pointer;
}
#wrapper button:active, #wrapper select:active, #wrapper label:active {
    outline:0.2rem skyblue solid !important;
}
/*캐릭터 스프라이트(공용)*/
.swordman_m {
	background-image:url('../img/sprite/character_swordman_m.png');
}
.swordman_f {
	background-image:url('../img/sprite/character_swordman_f.png');
}
.darkknight_m {
	background-image:url('../img/sprite/character_darkknight_m.png');
}
.fighter_m {
	background-image:url('../img/sprite/character_fighter_m.png');
}
.fighter_f {
	background-image:url('../img/sprite/character_fighter_f.png');
}
.gunner_m {
	background-image:url('../img/sprite/character_gunner_m.png');
}
.gunner_f {
	background-image:url('../img/sprite/character_gunner_f.png');
}
.mage_m {
	background-image:url('../img/sprite/character_mage_m.png');
}
.mage_f {
	background-image:url('../img/sprite/character_mage_f.png');
}
.creator_f {
	background-image:url('../img/sprite/character_creator_f.png');
}
.priest_m {
	background-image:url('../img/sprite/character_priest_m.png');
}
.priest_f {
	background-image:url('../img/sprite/character_priest_f.png');
}
.thief_f {
	background-image:url('../img/sprite/character_thief_f.png');
}
.knight_f {
	background-image:url('../img/sprite/character_knight_f.png');
}
.lancer_m {
	background-image:url('../img/sprite/character_lancer_m.png');
}
.beckey {
	background-image:url('../img/sprite/character_beckey.png');
}





/*뼈대*/
html, body {
    position:absolute;
        z-index:-2;
    overflow:hidden;

    width:100%;
	height:100%;

	background-color:#606060;
}
#wrapper {
    position:absolute;
        z-index:-1;
    left:0;
    right:0;
    overflow:hidden;

    margin:0 auto;
    /*width : @media에서 결정*/
    height:100%;
}
/*화면 비율 조절*/
@media (max-aspect-ratio:60/100) {
    html{font-size:10vw;}
    #wrapper {width:10rem;}/*10rem*/
}
@media (min-aspect-ratio:60/100) and (max-aspect-ratio:100/100){
    html{font-size:6vh;}
    #wrapper {width:100vw;}/*10rem ~ 15rem*/
}
@media (min-aspect-ratio:100/100) {
    html{font-size:6vh;}
    #wrapper {width:100vh;}
}

.frame_area {
    position:relative;

    width:100%;
    height:100%;
}

/*커버 프레임*/
#frame_cover {
    position:absolute;
        z-index:99;

    width:100%;
    height:13.6rem;

    background-color:black;
    border-bottom:0.02rem black solid;
    -webkit-transition:opacity 0.75s;
    transition:opacity 0.75s;
}
    #frame_cover_bg {
        position:absolute;

        width:100%;
        height:100%;

        background-image:url('../img/bg/loading_intro.jpg');
            background-position:50% 50%;
            background-size:120% 100%;
        -webkit-transition:opacity 0.75s;
        transition:opacity 0.75s;
        opacity:1;
    }
    #cover_title {
        position:relative;

        margin:0.2rem auto 0 auto;
        width:10rem;
        height:1.0rem;

        background-image:url('../img/channel.png');
        background-size:100% 1.0rem;

        color:yellow;
        font-weight:bold;
        font-size:0.5rem;
            line-height:1.0rem;
        text-align:center;
    }
    #cover_notice {
        position:relative;
        overflow-y:scroll;

        margin:0.5rem auto 0 auto;
        padding:0.1rem;
        width:8rem;
        height:8.5rem;

        background:rgba(0,0,0,0.8);
        border:0.1rem white outset;
        box-sizing: border-box;

        color:white;
        font-size:0.4rem;
    }
        #cover_notice p {
            margin-bottom:0.1rem;
        }
        #cover_notice p[title] {
            color:#59FF00;
        }
        #cover_notice p[content] {
            margin-left:0.2rem;
        }
        a {
            color:blue;
        }
    #cover_google {
        position:relative;

        margin:0 auto;
        width:6rem;
        height:2.4rem;

        background-image:url('https://play.google.com/intl/en_us/badges/images/generic/ko_badge_web_generic.png');
        background-size:6rem auto;
    }
        #cover_google a {
            position:relative;
            width:100%;
            height:100%;
            display:block;
        }
    #cover_text {
        margin:-0.2rem auto;
        padding:0.1rem 0.2rem;
        width:9rem;

        background-color:rgba(255,255,255,0.7);
        border-radius:0.2rem;
        box-sizing: border-box;

        color:black;
        font-size:0.3rem;
        font-weight:bold;
        display:block;
    }
    #cover_loading {
        position:absolute;
        left:0;right:0;
        bottom:0.4rem;
        overflow:hidden;

        margin:1rem auto 0 auto;
        width:90%;
        height:1rem;
        box-sizing: border-box;

        background:rgba(0,0,0,0.8);
        border:0.1rem white outset;
        -webkit-transition:width 0.3s;
        transition:width 0.3s;

		white-space: nowrap;
    }
            #cover_loading.hidden1 {
                width:0.01rem;
                border:0;
            }
            #cover_loading.hidden2 {
                width:0rem;
                border:0;
            }
        #cover_loading_text {
            position:absolute;
                z-index:2;
            left:0;top:0;

            width:100%;
            height:100%;

            color:yellow;
                text-shadow:0rem -0.02rem black,0.02rem -0.02rem black,0.02rem 0rem black,0.02rem 0.02rem black,0rem 0.02rem black,-0.02rem 0.02rem black,-0.02rem 0rem black,-0.02rem -0.02rem black;
            font-size:0.6rem;
                line-height:0.8rem;
            text-align:center;
        }
        #cover_loading_bar {
            position:absolute;
            left:0;top:0;

            width:0%;
            height:100%;

            background:-webkit-linear-gradient(#38A1E4,#2d7fb3);
            background:linear-gradient(#38A1E4,#2d7fb3);
            -webkit-transition:width 0.1s;
            transition:width 0.1s;
        }


/*메인 프레임*/
#frame_main {
    position:relative;
    overflow:hidden;

    width:100%;
    height:12rem;

    background-color:black;
    background-image:url('../img/bg/bg_gate.jpg');
        background-position:50% 80%;
        background-size:22.2rem auto;
        background-repeat: no-repeat;

    text-align:center;
}

#main_channel {
    position:relative;
        z-index:90;

    margin:0.2rem auto 0 auto;
    width:10rem;
    height:1.0rem;

    background-image:url('../img/channel.png');
    background-size:100% 1.0rem;

    color:white;
    font-weight:bold;
    font-size:0.4rem;
        line-height:1.0rem;
    text-align:center;
}
    #channel_text {color:yellow;font-weight:normal;}
#main_npc_text {
    position:relative;

    margin:1.2rem auto 0 auto;
    padding:0.1rem 0.15rem;

    width:auto;

    background:rgba(0,0,0,0.7);
    border:0.04rem gray solid;
    border-radius:0.15rem;

    color:white;
    font-size:0.3rem;
    font-weight: 600;
    text-align:center;
    white-space:nowrap;

    display:inline-block;
}
#main_npc {
    position:absolute;
        z-index:1;
    left:0;
    right:0;
    bottom:5.4rem;

    margin:0 auto;

    background-position:0 0;
}
        #main_npc:hover {
            cursor:pointer;
        }
    .npc_seria {width:1.7rem;height:3.3rem;background-image:url('../img/npc/seria.png');
        background-size:100% 100%;}
    .npc_erze {
        width:1.2rem;height:2.9rem;background-image:url('../img/npc/erze.gif');
        background-size:100% 100%;}
#main_tool {
    position:absolute;
        z-index:1;
    right:0.2rem;
    bottom:2rem;

    width:4rem;height:6rem;
    background-image:url('../img/npc/tool.gif');
    background-size:100% 100%;

    background-position:0 0;
}
#main_crack {
    position:absolute;
        z-index:2;
    left:calc(50% - 1.7rem + 3.1rem);
    top:0;

    width:3.4rem;
    height:8rem;

    background-image:url('../img/epic_crack.png');
    background-repeat: no-repeat;
        background-size:100% 100%;
    opacity:0;
    -webkit-transition:opacity 0.2s;
    transition:opacity 0.2s;
}
    #main_crack.show {
        opacity:0.8;
    }
#canvas_cover {
    position:absolute;left:50%;top:0;
    width:16.64rem;height:12.48rem;
    /*캔버스 클릭 방지*/
    pointer-events: none;}
/*캐릭터/아이템 - 캔버스에서 처리*/
#main_canvas {
    position:relative;
        z-index:2;
    left:-50%;
    margin:0 auto;
    width:16.64rem;
    height:12.48rem;
    box-sizing: border-box;
}

.main_option {
    position:absolute;
    z-index:10;

    width:3.8rem;
    height:1.4rem;

    background: -webkit-linear-gradient(#ffffff, #A0A0A0);
    background: linear-gradient(#ffffff, #A0A0A0);
    border:0.02rem gray outset;
    border-radius:0.3rem;
    opacity:0.9;

    font-size:0.6rem;
    font-weight:bold;
}
    .main_option:active {
        background: #A0A0A0;
        opacity:1;
    }
    #main_craft {
        right:0.2rem;
        bottom:0.2rem;

        font-size:0.5rem;
    }

    /*세트 정보*/
    #main_set {
        position:absolute;
            z-index:3;
        right:0;top:1.2rem;

        padding:0.1rem 0.2rem;
        width:auto;
        height:auto;

        background-color: rgba(0,0,0,0.7);
        border-bottom-left-radius: 0.3rem;

        font-size:0.35rem;
        font-weight:normal;
        text-align:right;

        display:none;
    }
        .icon_gabriel {
            width:0.35rem;
            height:0.35rem;
        }
/*보드 프레임*/
#frame_board {
    position:relative;

    padding:0.1rem;
    width:100%;
    height:1.6rem;

    background:black;
    border:0.08rem #909090 outset;
    box-sizing: border-box;

    color:white;
    font-size:0.35rem;
    font-weight:bold;
}
    #frame_board hr {
        clear:both;
        margin:0.1rem 0;
        border:0.02rem white solid;
    }
    .board_section {
        position:relative;
        float:left;
        width:calc((100% - 0.2rem) / 3);
        height:0.6rem;
        box-sizing: border-box;
        vertical-align: middle;}
        .board_img {
            float:left;
            width:0.5rem;
            height:0.5rem;
            display:inline-block;}
        .board_text {
            float:left;
            margin-left:0.2rem;
            height:0.6rem;
            display:block;}
    #board_count {
        width:25%;}
    #board_invite, #board_perfect1, #board_perfect2 {
        padding-left:0.1rem;
        width:calc(60% - 0.2rem);
        border-left:0.02rem white solid;}
        #board_perfect1 {color:yellow;display:none;}
        #board_perfect2 {width:calc(66% - 0.2rem);
            color:yellow;font-size:0.4rem;line-height:0.4rem;
            display:none;}
    #board_soul, #board_beed {
        margin-top:-0.1rem;
        padding:0.1rem;
        border-left:0.02rem white solid;}




/*버튼 프레임*/
#frame_button {
    position:absolute;
        z-index:-1;
    top:0;
    overflow:hidden;

    padding-top:13.6rem;
    width: 100%;
    height: 100%;

    background:black;
    background-image:url('../img/button_background.png');
        background-size:100% auto;
    box-sizing: border-box;
}

#button_main {
    position:absolute;
        z-index:2;
    left:15%;
    top:15%;
    display:block;

    width:70%;
    height:70%;

    background: -webkit-linear-gradient(#ffffff, #A0A0A0);
    background: linear-gradient(#ffffff, #A0A0A0);
    border:0.05rem gray outset;
    border-radius:0.5rem;
    -webkit-transition:top 0.3s;
    transition:top 0.3s;

    font-size:1em;
    font-weight:bold;
}
    #button_main.hide {
        top:120%;
    }

.button_side{
    position:absolute;
        z-index:3;
    display:block;

    width:26%;

    box-sizing:border-box;
    -webkit-transition:width 0.3s, left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;
    transition:width 0.3s, left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;

    font-size:0.7rem;
    font-weight:bold;
}
#button_left_top {
    left:0;top:0;
    height:48%;

    background: -webkit-linear-gradient(#ffffff, #FFD83E);
    background: linear-gradient(#ffffff, #FFD83E);
    border:0.05rem gray outset;
    border-left:0.05rem transparent outset;
    border-bottom-right-radius:0.4rem;
}
    #button_left_top.hide {
        left:-26%;
    }
#button_left_bottom {
    left:0;bottom:0;
    height:48%;

    background: -webkit-linear-gradient(#ffffff, #516BFF);
    background: linear-gradient(#ffffff, #516BFF);
    border:0.05rem gray outset;
    border-left:0.05rem transparent outset;
    border-top-right-radius:0.4rem;
}
    #button_left_bottom.hide {
        left:-26%;bottom:10%;
    }
    #button_left_bottom.long {
        left:0;bottom:10%;
        width:30%;
        height:80%;
        border-top-right-radius:0.4rem;
        border-bottom-right-radius:0.4rem;
        font-size:0.7rem;
    }
#button_right_top {
    right:0;top:0;
    height:48%;

    background: -webkit-linear-gradient(#ffffff, #FF6A00);
    background: linear-gradient(#ffffff, #FF6A00);
    border:0.05rem gray outset;
    border-right:0.05rem transparent outset;
    border-bottom-left-radius:0.4rem;
}
    #button_right_top.hide {
        right:-26%;top:10%;
    }
    #button_right_top.long {
        right:0;top:10%;
        width:50%;
        height:80%;
        border-top-left-radius:0.4rem;
        border-bottom-left-radius:0.4rem;
        font-size:0.7rem;
    }
#button_right_bottom {
    right:0;bottom:0;
    height:48%;

    background: -webkit-linear-gradient(#bce2d8 0%,#00e8b1 100%);
    background: linear-gradient(#bce2d8 0%,#00e8b1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border:0.05rem gray outset;
    border-right:0.05rem transparent outset;
    border-top-left-radius:0.4rem;
}
    #button_right_bottom.hide {
        right:-26%;
    }



/*메뉴 프레임*/
#frame_slot_left {
    position:absolute;
        z-index:100;
    left:-8rem;
    top:0;

    width:8rem;
    height:100%;

    background:rgba(0,0,0,0.6);
    border-right:0.01rem black solid;
    box-sizing: border-box;

    display:none;
}
#frame_slot_right {
    position:absolute;
        z-index:100;
    right:-8rem;
    top:0;

    width:8rem;
    height:100%;

    background:rgba(0,0,0,0.6);
    border-left:0.01rem black solid;
    box-sizing: border-box;

    display:none;
}
.slot_title {
    position:absolute;
        z-index:1;
    width:100%;
    height:1rem;

    box-sizing: border-box;

    color:#f0f0f0;
    font-weight: 500;
    font-size:0.5rem;
    line-height:1rem;
    text-align:center;
}
    .slot_title.blue {
        background: -webkit-linear-gradient(#6d81e3, #001cbf);
        background: linear-gradient(#6d81e3, #001cbf); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .slot_title.black {
        background: -webkit-linear-gradient(#aaaaaa, #222222);
        background: linear-gradient(#aaaaaa, #222222); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
.slot_content {
    position:relative;

    padding:1rem 0 2rem 0;
    width:100%;
    height:100%;

    box-sizing: border-box;
}
    .scroll {
        overflow-y:scroll;
    }
    .list_box {
        padding:0.1rem;

        box-sizing: border-box;

        color:white;
        font-size:0.3rem;
        font-weight:bold;

        display:none;
    }
    #dg_scroll, #inventory_scroll {
        position:absolute;
        left:0;top:0;
        width:100%;height:100%;
    }
        .record_header:not(:first-child) {
            margin-top:0.2rem;}
        .record_item, .record_complete {
            margin-left:0.15rem
        }
        .record_amount {color:skyblue}
        .record_level, .record_type, .record_set {
            color:white;
            font-size:0.25rem;
            line-height:0.3rem;
        }
        .record_set {
            color:#59FF00;
        }
        .record_complete {
            color:yellow;
            font-size:0.4rem;
        }
        #inventory_box {
            height:calc(100% - 1rem);
        }
        .item_li {
            position:relative;

            padding:0.05rem 0.1rem 0.05rem 1.1rem;
            width:100%;
            height:1.04rem;

            border-bottom:0.02rem white solid;
            box-sizing: border-box;

            font-size:0.25rem;
            color:skyblue;
            line-height:0.3rem;
        }
            /*아이템 내 요소들은 모두 선택불가*/
            .item_li * {
                pointer-events: none;
                /*드래그 방지*/
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            /*외각*/
            .item_li.line_set {
                border-bottom:0.02rem gray dotted;
            }
            .item_li:hover {
                background:rgba(45,127,179,0.8);

                cursor:pointer;
            }
            .item_li:active {
                background:skyblue;
            }
            .item_li.wish {
                background-color:rgba(45,127,179,0.5);
                background-image:url('../img/icon_wished.png');
                    background-repeat:no-repeat;
                    background-position:98% 0%;
                    background-size:0.8rem 0.8rem;
            }
            /*텍스트 컬러 & 크기*/
                /*크기*/
                .item_li::first-line {
                    font-size:0.3rem;
                    line-height:0.35rem;
                }
                /*이름*/
                .item_li.color_epic::first-line {
                    color:#E5B64A;
                    line-height:0.35rem;
                }
                .item_li.color_set::first-line {
                    color:#59FF00;
                    line-height:0.35rem;
                }
                .item_li.color_nothing::first-line {
                    color:#868484;
                    line-height:0.35rem;
                }
                /*수량*/
                .item_li {
                    color:skyblue;
                }
                .item_li.color_nothing {
                    color:transparent;
                }
            #inventory_scroll .icon {
                position:absolute;
                left:0;top:0;

                float:left;
                width:1rem;
                height:1rem;

                background-image:url('../sprite/images/sprite_hell.png');
                    background-size:22.5rem auto;
                box-sizing: border-box;
            }
                #inventory_scroll .icon.nothing {
                    -webkit-filter:grayscale(1);
                            filter:grayscale(1);
                    opacity:0.5;
                }
            #inventory_scroll .firstGet.nothing {
                display:none;
            }
            #inventory_scroll .right {
                float:right;
            }
            #inventory_scroll .jogakProgress {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                float:left;
                position:relative;

                margin-top:0.1rem;
                width:100%;
                height:0.2rem;

                background: #606060;
                border-radius:0.1rem;

                display:block;
            }
                #inventory_scroll .jogakBar {
                    position:absolute;
                    left:0;top:0;
                    width:50%;
                    height:100%;

                    background: -webkit-linear-gradient(to bottom, #FBDB21, #FF8C00);
                    background: linear-gradient(to bottom, #FBDB21, #FF8C00); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    border-radius:0.1rem;
                }
                #inventory_scroll .jogakNum {
                    position:relative;
                    left:0;top:0;
                    width:100%;
                    height:100%;

                    color:white;
                    font-size:0.2rem;
                        line-height:0.2rem;
                    text-align:center;
                    display:block;
                }

        .slot_list {
            margin-bottom:0.1rem;
            width:100%;
            height:3.2rem;

            background-color:#303030;
                background-position:50% 50%;
                background-repeat:no-repeat;
                background-size:100% auto;
            border:0.1rem #606060 double;
            border-radius: 0.4rem;
            box-sizing: border-box;

            display:block;
        }
        .slot_area {
            position:relative;

            margin:0.1rem 0;
            width:100%;
            height:0.8rem;

            background-color:#606060;
            border-radius:0.1rem;
            box-sizing: border-box;

            color:white;
            font-size:0.6rem;
            font-weight:normal;
            line-height:0.8rem;
            text-align:center;
        }
            #dg_header {
                position:absolute;
                    z-index:1;
                top:1rem;
                width:100%;
                height:3.2rem;

                border-top:0.05rem black solid;
                box-sizing: border-box;

                color:white;
                font-size:0.35rem;
                font-weight:bold;
                text-align:center;

                display:none;
            }
                #dg_gate{
                    margin:0;
                    padding-left:2.1rem;
                    height:2.4rem;
                    border:0;
                }
                #dg_box_title {
                    margin:0.1rem;
                    width:calc(100% - 0.2rem);
                    height:1.3rem;
                }
                .dg_box_arrow {
                    position:absolute;
                        z-index:2;
                    top:0.2rem;
                    width:1.5rem;height:0.9rem;
                    background-color:transparent;
                    background-image:url('../img/icon_arrow.png');
                        background-size:100% 100%;
                    border:0.04rem white solid;
                    border-radius:0.2rem;
                    display:block;
                }
                    .dg_box_arrow:active {
                        background-color:yellow;
                    }
                    #dg_box_arrow_down {
                        left:0.1rem;}
                    #dg_box_arrow_up {
                        right:0.1rem;
                        -webkit-transform:scaleY(-1);
                                transform:scaleY(-1);}
                #dg_box_title_name {
                    position:relative;
                    width:100%;height:100%;
                    line-height:1.3rem;
                }
                #dg_box {
                    top:4rem;
                    height:calc(100% - 4rem);
                }
                .dg_list{height:3.2rem;}


                #option_box {
                    padding:0.2rem;
                    height:2000px;
                }
                        #option_side {
                            position:absolute;
                                z-index:100;
                            left:-2rem;bottom:3rem;

                            padding:0.1rem;
                            width:2rem;
                            height:2.2rem;

                            background:rgba(0,0,0,0.6);
                            border:0.02rem black solid;
                            border-top-left-radius:0.2rem;
                            border-bottom-left-radius:0.2rem;
                            box-sizing: border-box;

                            display:none;
                        }
                        #option_clearRecord {
                            padding:0 0;
                            width:1.8rem;
                            height:2rem;
                            background:red;
                            box-sizing: border-box;

                            color:white;
                            text-shadow:0rem -0.02rem black,0.02rem -0.02rem black,0.02rem 0rem black,0.02rem 0.02rem black,0rem 0.02rem black,-0.02rem 0.02rem black,-0.02rem 0rem black,-0.02rem -0.02rem black;
                            font-size:0.4rem;
                            line-height:0.5rem;
                        }
                                #option_clearRecord:active {
                                    background-color:orange;
                                }
                .option_button {
                    margin-bottom:0.5rem;
                    padding:0 0.2rem;
                    width:100%;
                    height:1.2rem;

                    background:black;
                    border:0.03rem skyblue outset;
                    border-radius:0.2rem;
                    box-sizing: border-box;

                    color:white;
                    font-size:0.6rem;
                    font-weight:bold;
                    line-height:1.2rem;

                    display:block;
                }
                    #option_character {
                        padding-left:1.9rem;
                        height:1.7rem;
                        background:yellow;
                            background-position:0.1rem 0.1rem;
                            background-repeat:no-repeat;
                            background-size:1.8rem 1.5rem;
                        box-sizing: border-box;
                        color:black;
                        font-size:0.8rem;
                    }
                .option_checkbox {
                    width:0.8rem;
                    height:0.8rem;

                    vertical-align:top;
                }
                    .option_checkbox:hover {
                        cursor:pointer;
                    }
                .option_label {
                    margin-bottom:0.2rem;
                    padding:0 0.2rem;
                    width:calc(100% - 1rem);
                    height:0.8rem;

                    background:black;
                    border:0.03rem skyblue outset;
                    border-radius:0.2rem;
                    box-sizing: border-box;

                    color:white;
                    font-size:0.4rem;
                    font-weight:bold;
                    line-height:0.8rem;

                    display:inline-block;
                }

                .cha_list{
                    margin-bottom:0.2rem;
                    padding-left:2.1rem;
                    height:1.8rem;

                    background-color:#606060;
                        background-position:0 0;
                        background-repeat:no-repeat;
                        background-size:2.1rem 1.8rem;
                    border:0;
                    border-radius:0.2rem;

                    color:white;
                    font-weight:bold;
                    font-size:0.7rem;
                        line-height:1.8rem;
                    text-align:center;
                }
            #dg_gate{background-image:url('../img/slot/gate.png')}

            .cha1{background-image:url('../img/character_face/swordman_m.png')}
            .cha2{background-image:url('../img/character_face/swordman_f.png')}
            .cha3{background-image:url('../img/character_face/darkknight_m.png')}
            .cha4{background-image:url('../img/character_face/fighter_m.png')}
            .cha5{background-image:url('../img/character_face/fighter_f.png')}
            .cha6{background-image:url('../img/character_face/gunner_m.png')}
            .cha7{background-image:url('../img/character_face/gunner_f.png')}
            .cha8{background-image:url('../img/character_face/mage_m.png')}
            .cha9{background-image:url('../img/character_face/mage_f.png')}
            .cha10{background-image:url('../img/character_face/creator_f.png')}
            .cha11{background-image:url('../img/character_face/priest_m.png')}
            .cha12{background-image:url('../img/character_face/priest_f.png')}
            .cha13{background-image:url('../img/character_face/thief_f.png')}
            .cha14{background-image:url('../img/character_face/knight_f.png')}
            .cha15{background-image:url('../img/character_face/lancer_m.png')}
            .cha16{background-image:url('../img/character_face/beckey.png')}

#frame_wish {
    position:absolute;
        z-index:100;
    left:8rem;
    top:0;

    padding:0.05rem;
    width:2rem;
    height:16.6rem;

    background-color:#696969;
    border:0.02rem black solid;
    border-radius:0.2rem;
    box-sizing: border-box;
}
        #frame_wish.mini {
            z-index:90;
            left:0rem;
            top:0.2rem;

            padding:0;
                padding-top:0.05rem;
            width:calc(2rem * 0.55);
            height:calc(16.6rem * 0.6);

            opacity:0.8;
        }
        #frame_wish.mini #wish_cover {display:block;}
        #frame_wish.mini #wish_title {display:none;}
        #frame_wish.mini .wish_item {margin:0rem auto -0.12rem auto;-webkit-transform:scale(0.8);transform:scale(0.8);}
        #frame_wish.mini #wish_clear {display:none;}
    #wish_cover {
        position:absolute;
            z-index:2;
        left:0;top:0;
        width:100%;height:100%;
        display:none;
    }
    #wish_title {
        width:100%;

        font-size:0.5rem;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    .wish_item {
        position:relative;

        margin:0.2rem auto 0.3rem auto;
        width:1rem;
        height:1.13rem;

        background-color:black;
        border:0.04rem gray outset;
        -webkit-transform:scale(1.2);
                transform:scale(1.2);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;

        color:white;
        font-size:0.7rem;
            line-height:1rem;
        text-align:center;
    }
        .wish_item_icon {
            position:absolute;
            left:0;top:0;

            width:1rem;
            height:1rem;

            background-color:black;
            background-image:url('../sprite/images/sprite_hell.png');
                background-position:0 0;
                background-size:22.5rem auto;
        }
            .wish_item_icon.nothing {
                background:none;
            }
            .wish_item_icon:hover {
                cursor:pointer;
            }
        .wish_item_jogak {
            position:absolute;
            right:0.05rem;bottom:0.4rem;
            width:100%;
            height:0.3rem;

            font-size:0.35rem;
            text-align:right;

            display:block;
        }
        .wish_item_state {
            position:absolute;
            left:0;top:1rem;

            width:1rem;
            height:0.12rem;

            background-color:black;
            border-top:0.01rem gray solid;
        }
            .wish_item_state.no {background-color:red}
            .wish_item_state.yes {background-color:#59FF00}
            .wish_item_state.jogak {
            	-webkit-animation: jogak_alert 0.3s infinite alternate;
                animation: jogak_alert 0.3s infinite alternate;
            }
                @-webkit-keyframes jogak_alert {
                    from {background-color:#826C00;}
                    to {background-color:yellow;outline:0.1rem yellow solid;}
                }
                @keyframes jogak_alert {
                    from {background-color:#826C00;}
                    to {background-color:yellow;outline:0.1rem yellow solid;}
                }
    #wish_clear {
        position:relative;

        margin:0.3rem auto 0 auto;
        width:1.6rem;
        height:2rem;

        background: -webkit-linear-gradient(#ffffff, red);
        background: linear-gradient(#ffffff, red); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border:0.02rem black solid;
        border-radius:0.2rem;

        display:table;
    }
            #wish_clear:hover {
                outline:0.06rem skyblue solid;
                cursor:pointer
            }
            #wish_clear:active {
                background-color:orange;
                cursor:pointer
            }
        #wish_clear p {
            color:white;
            text-shadow:0rem -0.02rem black,0.02rem -0.02rem black,0.02rem 0rem black,0.02rem 0.02rem black,0rem 0.02rem black,-0.02rem 0.02rem black,-0.02rem 0rem black,-0.02rem -0.02rem black;
            font-size:0.4rem;
            font-weight:bold;
            text-align:center;
            vertical-align:middle;

            display:table-cell;
        }
#inventory_footer {
    position:absolute;
        z-index:1;
    bottom:2rem;
    width:100%;
    height:1rem;

    background-color:#2d7fb3;
    border-top:0.05rem black solid;
    box-sizing: border-box;

    color:white;
    font-size:0.35rem;
    font-weight:bold;
    text-align:center;

    display:none;
}
.slot_close {
    position:absolute;
        z-index:1;
    bottom:0;
    width:100%;
    height:2rem;

    background: -webkit-linear-gradient(#ffffff, #FF6A00);
    background: linear-gradient(#ffffff, #FF6A00); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border:0.05rem transparent outset;
    border-top:0.05rem black solid;
    box-sizing: border-box;

    color:black;
    font-weight:bold;
    font-size:0.8rem;
    line-height:1rem;
    text-align:center;
}



/*======================================================================================================*/
/* ※ 4. 기타 */
/*======================================================================================================*/
#imagePreloader {
	width:1px;
	height:1px;

	display:none;
}

/*모바일 스크롤바 가시화*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0.25rem;
}

::-webkit-scrollbar:horizontal {
    height: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0.4rem;
    border: 0.025rem solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.7);
    border-radius: 0.4rem;
}
