* {
    margin:0rem;
    padding:0rem;
    border:0rem;

    background-origin: border-box;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;

	font-family:"Nanum Gothic", sans-serif;
	text-decoration:none;
}


/*하드웨어 가속*/
[gpuaccel] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
[gpuaccel2] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
[gpuaccel3] {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    perspective: 1000;
}
/*스타일*/
    /*폰트 - 나눔고딕*/
    @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.color_red {
	color:red;
}
.color_yellow {
	color:yellow;
}
.color_orange {
	color:orange;
}
.color_green {
	color:green;
}
.color_skyblue {
    color:skyblue;
}
.color_gray {
    color:#bdbdbd;
}
.color_darkgray {
    color:#868484;
}
.color_white {
    color:white;
}
.color_epic {
	color:#E5B64A;
	font-size:inherit;
}
.color_set {
	color:#59FF00;
}
/*
.font_shadow {
    text-shadow:0rem -0.02rem black,0.02rem -0.02rem black,0.02rem 0rem black,0.02rem 0.02rem black,0rem 0.02rem black,-0.02rem 0.02rem black,-0.02rem 0rem black,-0.02rem -0.02rem black;
}
*/
/*버튼 애니메이션*/
/*
button {
    -webkit-transition:all 0.2s;
    transition:all 0.2s;
}
*/
/*그림자 효과*/
button:hover, select:hover, label:hover {
    border:0.2rem white solid !important;
    cursor:pointer;
}
button:active, select:active, label:active {
    border:0.3rem skyblue solid !important;
}
/*캐릭터 스프라이트(공용)*/
.swordman_m {
	background-image:url('../img/sprite/character_swordman_m.png');
}
.swordman_f {
	background-image:url('../img/sprite/character_swordman_f.png');
}
.darkknight_m {
	background-image:url('../img/sprite/character_darkknight_m.png');
}
.fighter_m {
	background-image:url('../img/sprite/character_fighter_m.png');
}
.fighter_f {
	background-image:url('../img/sprite/character_fighter_f.png');
}
.gunner_m {
	background-image:url('../img/sprite/character_gunner_m.png');
}
.gunner_f {
	background-image:url('../img/sprite/character_gunner_f.png');
}
.mage_m {
	background-image:url('../img/sprite/character_mage_m.png');
}
.mage_f {
	background-image:url('../img/sprite/character_mage_f.png');
}
.creator_f {
	background-image:url('../img/sprite/character_creator_f.png');
}
.priest_m {
	background-image:url('../img/sprite/character_priest_m.png');
}
.priest_f {
	background-image:url('../img/sprite/character_priest_f.png');
}
.thief_f {
	background-image:url('../img/sprite/character_thief_f.png');
}
.knight_f {
	background-image:url('../img/sprite/character_knight_f.png');
}
.lancer_m {
	background-image:url('../img/sprite/character_lancer_m.png');
}
.beckey {
	background-image:url('../img/sprite/character_beckey.png');
}





/*뼈대*/
html, body {
    position:absolute;
        z-index:-2;
    overflow:hidden;

    width:100%;
	height:100%;

	background-color:#606060;
}
#wrapper {
    position:absolute;
        z-index:-1;
    left:0;
    right:0;
    overflow:hidden;

    margin:0 auto;
    /*width : @media에서 결정*/
    height:100%;
}
/*화면 비율 조절*/
@media (max-aspect-ratio:60/100) {
    html{font-size:10vw;}
    #wrapper {width:10rem;}/*10rem*/
}
@media (min-aspect-ratio:60/100) and (max-aspect-ratio:100/100){
    html{font-size:6vh;}
    #wrapper {width:100vw;}/*10rem ~ 15rem*/
}
@media (min-aspect-ratio:100/100) {
    html{font-size:6vh;}
    #wrapper {width:100vh;}
}

.frame_area {
    position:relative;

    width:100%;
    height:100%;
}

/*커버 프레임*/
#frame_cover {
    position:absolute;
        z-index:99;

    width:100%;
    height:14rem;

    background-color:black;
    border-bottom:0.02rem black solid;
    -webkit-transition:opacity 0.75s;
    transition:opacity 0.75s;
}
    #frame_cover_bg {
        position:absolute;

        width:100%;
        height:100%;

        background-image:url('../img/bg/loading_intro.jpg');
            background-position:50% 50%;
            background-size:120% 100%;
        -webkit-transition:opacity 0.75s;
        transition:opacity 0.75s;
        opacity:1;
    }
    #cover_title {
        position:relative;

        margin:0.2rem auto 0 auto;
        width:10rem;
        height:1.0rem;

        background-image:url('../img/channel.png');
        background-size:100% 1.0rem;

        color:yellow;
        font-weight:bold;
        font-size:0.5rem;
            line-height:1.0rem;
        text-align:center;
    }
    #cover_notice {
        position:relative;
        overflow-y:auto;

        margin:1rem auto 0 auto;
        padding:0.1rem;
        width:8rem;
        height:9rem;

        background:rgba(0,0,0,0.7);
        border:0.1rem white outset;
        box-sizing: border-box;

        color:white;
        font-size:0.4rem;
    }
        #cover_notice p {
            margin-bottom:0.1rem;
        }
        #cover_notice p[title] {
            color:#59FF00;
        }
        #cover_notice p[content] {
            margin-left:0.2rem;
        }
    #cover_loading {
        position:relative;
        overflow:auto;

        margin:1rem auto 0 auto;
        width:90%;
        height:1rem;
        box-sizing: border-box;

        background:rgba(0,0,0,0.7);
        border:0.1rem white outset;
    }
        #cover_loading_bar {
            position:absolute;
            left:0;top:0;

            width:0%;
            height:100%;

            background:yellow;
        }


/*메인 프레임*/
#frame_main {
    position:relative;
    overflow:hidden;

    width:100%;
    height:12rem;

    background-color:black;
    background-image:url('../img/bg/bg_gate.jpg');
        background-position:50% 80%;
        background-size:22.2rem auto;
        background-repeat: no-repeat;

    text-align:center;
}

#main_channel {
    position:relative;

    margin:0.2rem auto 0 auto;
    width:10rem;
    height:1.0rem;

    background-image:url('../img/channel.png');
    background-size:100% 1.0rem;

    color:white;
    font-weight:bold;
    font-size:0.5rem;
        line-height:1.0rem;
    text-align:center;
}
    #channel_text {color:yellow;font-weight:normal;}
#main_npc_text {
    position:relative;

    margin:1rem auto 0 auto;
    padding:0.1rem 0.15rem;

    width:auto;

    background:rgba(0,0,0,0.7);
    border:0.04rem gray solid;
    border-radius:0.15rem;

    color:white;
    font-size:0.3rem;
    font-weight: 600;
    text-align:center;
    white-space:nowrap;

    display:inline-block;
}
#main_npc {
    position:absolute;
        z-index:1;
    left:0;
    right:0;
    bottom:5.3rem;

    margin:0 auto;

    background-position:0 0;
}
    .npc_seria {width:1.7rem;height:3.3rem;background-image:url('../img/npc/seria.png');
        background-size:100% 100%;}
    .npc_erze {
        width:1.2rem;height:2.9rem;background-image:url('../img/npc/npc_erze.png');
        background-size:7.2rem 2.9rem;
    }
#main_character {
    position:absolute;
        z-index:3;

    width:15rem;
    height:12rem;

    background-size:180rem 24rem;
}
    #main_character.gate {
        left:calc(50% - 10rem);
        top:0rem;
    }
    #main_character.dungeon {
        left:calc(50% - 8rem);
        top:-3rem;
    }
    /*캐릭터 이미지 : 공용 클래스 스타일 적용*/
    #main_character.left {
    }
    #main_character.right {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        -webkit-filter: FlipH;
                filter: FlipH;
        -ms-filter: "FlipH";
    }
        /*대기모션은 자체적인 애니메이셔으로 소화*/
        #main_character.wait {
            -webkit-animation: sprite_wait 2s steps(12) infinite;
            animation: sprite_wait 2s steps(12) infinite;

            opacity:1;
        }
            @-webkit-keyframes sprite_wait {
                0% {background-position:0 0;}
                100% {background-position:-180rem 0;}
            }
            @keyframes sprite_wait {
                100% {background-position:-180rem 0;}
            }
        #main_character.attack {
            -webkit-animation: sprite_attack 0.5s steps(12) infinite;
            animation: sprite_attack 0.5s steps(12) infinite;

            opacity:1;
        }
            @-webkit-keyframes sprite_attack {
                0% {background-position:0rem -12rem;}
                100% {background-position:-180rem -12rem;}
            }
            @keyframes sprite_attack {
                0% {background-position:0rem -12rem;}
                100% {background-position:-180rem -12rem;}
            }
.main_option {
    position:absolute;
    z-index:10;

    width:3.3rem;
    height:1.5rem;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #FFFFFF), color-stop(1.00, #A0A0A0));
    background: linear-gradient(to bottom, #ffffff, #A0A0A0);
    border:0.02rem gray outset;
    border-radius:0.2rem;
    opacity:0.9;

    font-size:0.5rem;
    font-weight:bold;
}
        .main_option:active {
            opacity:1;
        }
    #main_sound_change {
        bottom:2.2rem;
        right:0.3rem;
    }
    #main_character_change {
        bottom:0.3rem;
        right:0.3rem;
    }
    #main_inventory {
        bottom:0.3rem;
        left:0.3rem;

        width:2rem;

        font-size:0.6rem;
    }
/*드랍 아이템*/
.item {
	position:absolute;
        z-index:5;
    left: 3.5rem;
    top: 2.5rem;

	width:100%;/*10rem*/
	height:10rem;/*2rem*/

	text-align:center;
}
        .item_container {position:relative;width:100%;height:100%;}
	.item_description {
        position:absolute;
            z-index:3;
        left:0;
        top:0;
        margin-bottom:0.2rem;
        width:100%;
    }
	.item_name {
        position:relative;
		margin:0 auto;
		padding:0.06rem 0.1rem;

		width:auto;
		white-space: nowrap;

		background:rgba(0,0,0,0.7);
		border:0.04rem #B89F7C solid;
		border-radius:0.15rem;

		font-size:0.4rem;
		font-weight: 600;;
		white-space:nowrap;

        display:inline-block;
		visibility:hidden;
	}
		.item_name.type_normal {
			display:none;
		}
		.item_name.type_jogak {
			display:none;
		}
	.item_img {
		position:absolute;
            z-index:3;
        left:0;
        right:0;
        margin:auto;
        top:1.5rem;

		width:0.01rem;
		height:0.01rem;

		background-image:url('https://solarias.github.io/dnf/sprite/images/sprite_item.png');
		    background-position:0 0;
            background-size:auto 21.6rem;
		-webkit-transition: none;
		transition: none;

		visibility:hidden;
	}
		.item_img.rotate {
			-webkit-transform:rotate(-360deg);
			transform:rotate(-360deg);
			-webkit-transition: -webkit-transform 0.55s linear;
			transition:-webkit-transform 0.55s linear;
			transition:transform 0.55s linear;
			transition: transform 0.55s linear, -webkit-transform 0.55s linear;
		}

	.effect_appear {
		position:absolute;
            z-index:4;
		left: calc(50% - 5.1rem + 0.7rem);/*0.65rem*/
		top: -5.3rem;

		width:10.2rem;
		height:11.9rem;

		background-image:url('../img/epic_appear.png');
            background-size:122.4rem 11.9rem;

		visibility:hidden;
	}
        .effect_appear.act {
            -webkit-animation: effect_appear 0.8s steps(11) forwards;
            animation: effect_appear 0.8s steps(11) forwards;

		    visibility:visible;
        }
            @-webkit-keyframes effect_appear {
                0% {background-position:0rem 0rem;}
                100% {background-position:-112.2rem 0rem;}
            }
            @keyframes effect_appear {
                0% {background-position:0rem 0rem;}
                100% {background-position:-112.2rem 0rem;}
            }

	.effect_land {
		position:absolute;
            z-index:2;
		left: calc(50% - 9rem);/*3.7rem*/
        top: -3rem;

		width:18rem;
		height:9.5rem;

		background-image:url('../img/epic_land.png');
            background-size:145.1rem 9.5rem;

		visibility:hidden;
	}
        .effect_land.act {
            -webkit-animation: effect_land 0.9s steps(7) forwards !important;
            animation: effect_land 0.9s steps(7) forwards !important;

		    visibility:visible;
        }
            @-webkit-keyframes effect_land {
                0% {background-position:0rem 0rem;}
                100% {background-position:-127.1rem 0rem;}
            }
            @keyframes effect_land {
                0% {background-position:0rem 0rem;}
                100% {background-position:-127.1rem 0rem;}
            }
	.effect_wait {
		position:absolute;
            z-index:2;
		left:calc(50% - 2.82rem - 0.3rem);/*2rem*/
        top:-1rem;

		width:5.64rem;
		height:5.64rem;

		background-image:url('../img/epic_wait.png');
            background-size:67.72rem 5.64rem;

		visibility:hidden;
	}
        .effect_wait.act {
            -webkit-animation: effect_wait 1.2s steps(11) infinite;
            animation: effect_wait 1.2s steps(11) infinite;

		    visibility:visible;
        }
            @-webkit-keyframes effect_wait {
                0% {background-position:0rem 0rem;}
                100% {background-position:-62.0rem 0rem;}
            }
            @keyframes effect_wait {
                0% {background-position:0rem 0rem;}
                100% {background-position:-62.0rem 0rem;}
            }



/*보드 프레임*/
#frame_board {
    position:relative;

    padding:0.1rem;
    width:100%;
    height:2rem;

    background:black;
    border:0.1rem #909090 outset;
    box-sizing: border-box;

    color:white;
    font-size:0.5rem;
    font-weight:bold;
}
    #frame_board hr {
        margin:0.1rem 0;
        border:0.02rem white solid;
    }
    #board_set_text {font-weight:normal}
    #board_count {float:left;}#board_epic {float:right;}




/*버튼 프레임*/
#frame_button {
    position:absolute;
        z-index:-1;
    top:0;
    overflow:hidden;

    padding-top:14rem;
    width: 100%;
    height: 100%;

    background:black;
    background-image:url('../img/button_background.png');
        background-size:100% auto;
    box-sizing: border-box;
}

#button_main {
    position:absolute;
        z-index:2;
    left:15%;
    top:15%;
    display:block;

    width:70%;
    height:70%;

    background: -webkit-linear-gradient(#ffffff, #A0A0A0);
    background: linear-gradient(#ffffff, #A0A0A0);
    border:0.05rem gray outset;
    border-radius:0.5rem;
    transition:all 0.3s;

    font-size:1em;
    font-weight:bold;
}
    #button_main.hide {
        top:100%;
    }

.button_side{
    position:absolute;
        z-index:3;
    top:10%;
    display:block;

    width:20%;
    height:80%;

    box-sizing:border-box;
    transition:all 0.3s;

    font-size:0.6rem;
    font-weight:bold;
}
#button_left {
    left:0;

    background: -webkit-linear-gradient(#ffffff, #516BFF);
    background: linear-gradient(#ffffff, #516BFF);
    border:0.05rem gray outset;
    border-left:0.05rem transparent outset;
    border-top-right-radius:0.4rem;
    border-bottom-right-radius:0.4rem;
}
    #button_left.hide {
        left:-20%;
    }
    #button_left.long {
        left:0;
        width:40%;
        font-size:0.7rem;
    }
#button_right {
    right:0;

    background: -webkit-linear-gradient(#ffffff, #FF6A00);
    background: linear-gradient(#ffffff, #FF6A00);
    border:0.05rem gray outset;
    border-right:0.05rem transparent outset;
    border-top-left-radius:0.4rem;
    border-bottom-left-radius:0.4rem;
}
    #button_right.hide {
        right:-20%;
    }
    #button_right.long {
        right:0;
        width:40%;
        font-size:0.7rem;
    }



/*메뉴 프레임*/
#frame_slot_left {
    position:absolute;
        z-index:100;
    left:-10rem;
    top:0;

    width:10rem;
    height:100%;

    background:rgba(0,0,0,0.8);
    border-right:0.01rem black solid;
    box-sizing: border-box;

    display:none;
}
#frame_slot_right {
    position:absolute;
        z-index:100;
    right:-8rem;
    top:0;

    width:8rem;
    height:100%;

    background:black;
    border-left:0.01rem black solid;
    box-sizing: border-box;

    display:none;
}
.slot_title {
    position:absolute;
        z-index:1;
    width:100%;
    height:1rem;

    box-sizing: border-box;

    color:#f0f0f0;
    font-weight: 500;
    font-size:0.5rem;
    line-height:1rem;
    text-align:center;
}
    .slot_title.blue {
        background: -webkit-linear-gradient(#6d81e3, #001cbf);
        background: linear-gradient(#6d81e3, #001cbf); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .slot_title.black {
        background: -webkit-linear-gradient(#aaaaaa, #222222);
        background: linear-gradient(#aaaaaa, #222222); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
.slot_content {
    position:relative;

    padding:1rem 0 2rem 0;
    width:100%;
    height:100%;

    box-sizing: border-box;
}
.slot_area {
    position:relative;

    margin:0.1rem 0.2rem;
    width:calc(100% - 0.4rem);
    height:0.8rem;

    background-color:#606060;
    border-radius:0.1rem;
    box-sizing: border-box;

    color:white;
    font-size:0.6rem;
    line-height:0.8rem;
    text-align:center;
}
.slot_list {
    margin-bottom:0.05rem;
    width:100%;
    height:3.2rem;

    background-color:#303030;
        background-position:50% 50%;
        background-repeat:no-repeat;
    background-size:100% auto;
    border-radius: 0.5rem;

    display:block;
}
    .scroll {
        overflow-y:scroll;
    }
    #record_box, #inventory_box {
        padding:0.1rem;

        box-sizing: border-box;

        color:white;
        font-size:0.3rem;
        font-weight:bold;

        display:none;
    }
        .record_item, .record_set {
            margin-left:0.15rem;
            margin-bottom:0.2rem;
        }
        .record_set {
            font-size:0.4rem;
        }
        .record_head .font_small, .record_item .font_small {
            font-size:0.25rem;
            line-height:0.3rem;
        }
        #inventory_box p {
            border-bottom:0.02rem white solid;

            font-size:0.35rem;
        }
        #inventory_box span.right {
            float:right;
            display:inline-block;
        }
        #inventory_box span.amount.darkgray {
            visibility:hidden;
        }

    #gate{background-image:url('../img/slot/gate.png')}
    #dg1{background-image:url('../img/slot/metro_1.png')}
    #dg2{background-image:url('../img/slot/metro_2.png')}
    #dg3{background-image:url('../img/slot/metro_3.png')}
    #dg4{background-image:url('../img/slot/metro_4.png')}
    #dg5{background-image:url('../img/slot/metro_5.png')}
    #dg6{background-image:url('../img/slot/metro_6.png')}
.slot_close {
    position:absolute;
        z-index:1;
    bottom:0;
    width:100%;
    height:2rem;

    background: -webkit-linear-gradient(#ffffff, #FF6A00);
    background: linear-gradient(#ffffff, #FF6A00); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border:0.05rem transparent outset;
    border-top:0.05rem black solid;
    box-sizing: border-box;

    color:black;
    font-weight:bold;
    font-size:0.8rem;
    line-height:1rem;
    text-align:center;
}



/*======================================================================================================*/
/* ※ 4. 기타 */
/*======================================================================================================*/
#imagePreloader {
	width:1px;
	height:1px;

	display:none;
}

/*모바일 스크롤바 가시화*/
::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 0.25rem;
}

::-webkit-scrollbar:horizontal {
    height: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0.4rem;
    border: 0.025rem solid #ffffff;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
