
.field_무기_거너_리볼버{background-position:-55px -470px; width:43px; height:16px;}
.field_무기_거너_머스켓{background-position:-1px -387px; width:63px; height:17px;}
.field_무기_거너_보우건{background-position:-1px -405px; width:59px; height:23px;}
.field_무기_거너_자동권총{background-position:-58px -448px; width:42px; height:14px;}
.field_무기_거너_핸드캐넌{background-position:-1px -365px; width:72px; height:21px;}
.field_무기_격투가_건틀릿{background-position:-74px -365px; width:25px; height:19px;}
.field_무기_격투가_권투글러브{background-position:-84px -614px; width:16px; height:14px;}
.field_무기_격투가_너클{background-position:-58px -614px; width:25px; height:15px;}
.field_무기_격투가_클로{background-position:-39px -511px; width:34px; height:27px;}
.field_무기_격투가_통파{background-position:-1px -506px; width:37px; height:19px;}
.field_무기_귀검사，다크나이트，나이트_광검{background-position:-61px -420px; width:38px; height:14px;}
.field_무기_귀검사，다크나이트，나이트_대검{background-position:-1px -102px; width:96px; height:25px;}
.field_무기_귀검사，다크나이트，나이트_도{background-position:-1px -429px; width:59px; height:18px;}
.field_무기_귀검사，다크나이트，나이트_둔기{background-position:-1px -448px; width:56px; height:21px;}
.field_무기_귀검사，다크나이트，나이트_소검{background-position:-51px -491px; width:48px; height:19px;}
.field_무기_도적_단검{background-position:-65px -387px; width:33px; height:15px;}
.field_무기_도적_쌍검{background-position:-1px -491px; width:49px; height:14px;}
.field_무기_도적_완드{background-position:-36px -539px; width:31px; height:17px;}
.field_무기_도적_차크라웨펀{background-position:-61px -405px; width:39px; height:14px;}
.field_무기_마법사，크리에이터_로드{background-position:-1px -470px; width:53px; height:20px;}
.field_무기_마법사，크리에이터_봉{background-position:-1px -128px; width:93px; height:28px;}
.field_무기_마법사，크리에이터_빗자루{background-position:-1px 0px; width:100px; height:27px;}
.field_무기_마법사，크리에이터_스탭{background-position:-1px -248px; width:91px; height:29px;}
.field_무기_마법사，크리에이터_창{background-position:-1px -28px; width:100px; height:28px;}
.field_무기_프리스트_낫{background-position:-1px -157px; width:93px; height:46px;}
.field_무기_프리스트_배틀액스{background-position:-1px -278px; width:89px; height:43px;}
.field_무기_프리스트_십자가{background-position:-1px -204px; width:92px; height:43px;}
.field_무기_프리스트_염주{background-position:-1px -322px; width:75px; height:42px;}
.field_무기_프리스트_토템{background-position:-1px -57px; width:100px; height:44px;}
.field_무기_마창사_장창{background-position:-104px 0px; width:99px; height:35px;}
.field_무기_마창사_미늘창{background-position:-104px -37px; width:99px; height:34px;}
.field_무기_마창사_광창{background-position:-104px -71px; width:98px; height:36px;}
.field_무기_마창사_투창{background-position:-104px -108px; width:85px; height:30px;}
.field_방어구_가죽_머리어깨{background-position:-71px -653px; width:21px; height:19px;}
.field_방어구_가죽_벨트{background-position:-68px -673px; width:18px; height:13px;}
.field_방어구_가죽_상의{background-position:-32px -557px; width:29px; height:20px;}
.field_방어구_가죽_신발{background-position:-27px -624px; width:24px; height:24px;}
.field_방어구_가죽_하의{background-position:-62px -566px; width:29px; height:23px;}
.field_방어구_경갑_머리어깨{background-position:-52px -630px; width:24px; height:20px;}
.field_방어구_경갑_벨트{background-position:-22px -674px; width:18px; height:16px;}
.field_방어구_경갑_상의{background-position:-30px -599px; width:27px; height:24px;}
.field_방어구_경갑_신발{background-position:-1px -575px; width:29px; height:19px;}
.field_방어구_경갑_하의{background-position:-77px -322px; width:23px; height:20px;}
.field_방어구_중갑_머리어깨{background-position:-77px -630px; width:23px; height:22px;}
.field_방어구_중갑_벨트{background-position:-41px -682px; width:18px; height:13px;}
.field_방어구_중갑_상의{background-position:-74px -511px; width:26px; height:22px;}
.field_방어구_중갑_신발{background-position:-25px -649px; width:22px; height:24px;}
.field_방어구_중갑_하의{background-position:-1px -526px; width:34px; height:23px;}
.field_방어구_천_머리어깨{background-position:-1px -663px; width:20px; height:19px;}
.field_방어구_천_벨트{background-position:-1px -683px; width:18px; height:13px;}
.field_방어구_천_상의{background-position:-1px -595px; width:28px; height:22px;}
.field_방어구_천_신발{background-position:-31px -578px; width:29px; height:20px;}
.field_방어구_천_하의{background-position:-61px -590px; width:29px; height:23px;}
.field_방어구_판금_머리어깨{background-position:-48px -651px; width:22px; height:16px;}
.field_방어구_판금_벨트{background-position:-48px -668px; width:19px; height:13px;}
.field_방어구_판금_상의{background-position:-68px -539px; width:31px; height:26px;}
.field_방어구_판금_신발{background-position:-1px -618px; width:25px; height:25px;}
.field_방어구_판금_하의{background-position:-1px -550px; width:30px; height:24px;}
.field_악세서리／특수장비_악세서리_목걸이{background-position:-60px -687px; width:17px; height:18px;}
.field_악세서리／특수장비_악세서리_반지{background-position:-87px -673px; width:11px; height:15px;}
.field_악세서리／특수장비_악세서리_팔찌{background-position:-61px -435px; width:11px; height:9px;}
.field_악세서리／특수장비_특수장비_마법석{background-position:-77px -343px; width:23px; height:17px;}
.field_악세서리／특수장비_특수장비_보조장비{background-position:-1px -644px; width:23px; height:18px;}
.field_악세서리／특수장비_특수장비_귀걸이{background-position:-73px -435px; width:19px; height:7px;}
.field_기타{background-position:-78px -689px; width:22px; height:21px;}
.field_에픽조각{background-position:-1px -697px; width:22px; height:21px;}
.field_초대장{background-position:-24px -697px; width:26px; height:17px;}
